# Cache que ignorara el controlador de versiones

ApiFlask/
.env

__pycache__/
*.py[cod]

.pytest_cache/

Historial*.csv
portafolio1anio.xlsm
tempCodeRunnerFile.py
eliminar_duplicados.py
Formateador_acciones.py
prueba.py