# Cache que ignorara el controlador de versiones

ApiFlask/
.env

__pycache__/
*.py[cod]

.pytest_cache/

# Ignorar archivos en Historial_accion_csv_xlsx
Historial_accion_csv_xlsx/*
# Ignorar archivos en Prices_xlsx
Prices_xlsx/*
# Ignorar archivos en Rendimientos_xlsx
Rendimientos_xslx/*
# Ignorar carpeta pycache
__pycache__/ 
# Ignorar archivo 
portafolio1anio.xlsm