<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ActionTrackr</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>    
</head>
<body>
    <nav class="navbar" style="background-color: #6d7d89;">
        <div class="container-fluid d-flex justify-content-between">
            <a class="navbar-brand" href="/">
                <img  src="{{ url_for('serve_static', filename='Logo.png') }}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                ActionTrackr
            </a>
        </div>
    </nav>
    <h3>Contenido del CSV</h3>
    <table>
        <tr style="text-align: center;">
            <th>Date</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Adj Close</th>
            <th>Volume</th>
        </tr>
        {% for dato in datos %}
            <tr>
                <td>{{ dato['Date'] }}</td>
                <td>{{ dato['Open'] }}</td>
                <td>{{ dato['High'] }}</td>
                <td>{{ dato['Low'] }}</td>
                <td>{{ dato['Close'] }}</td>
                <td>{{ dato['Adj_Close'] }}</td>
                <td>{{ dato['Volume'] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
