<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ActionTrackr</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="{{ url_for('serve_script', filename='suggestions.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script>
        // Función para mostrar el mensaje de error si es necesario
        function showError(errorMessage) {
            if (errorMessage) {
                alert(errorMessage);  // Muestra una alerta simple
            }
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('serve_static', filename='Logo.png') }}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                ActionTrackr
            </a>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <h1>Consulta Acciones</h1>
                <form method="POST" action="/">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Nombre de la acción</span>
                        <input type="text" name="stock_symbol" id="stock_symbol" required oninput="getActionSuggestions()">
                    </div>
                    <button type="button" class="btn btn-danger btn-sm" id="limpiar">Limpiar</button>
                    <div id="suggestions"></div>
            </div>
            <div class="col-lg-6">
                <h1>Periodo</h1>
                <form method="POST" action="/">
                    <div class="input-group">
                        <span class="input-group-text">Fecha inicial</span>
                        <input type="date" name="start_date" aria-label="Fecha inicial" class="form-control" required>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Fecha final</span>
                        <input type="date" name="end_date" aria-label="Fecha final" class="form-control" required>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success btn-sm" value="Enviar petición">Enviar petición</button>
                </form>
            </div>
            
        </div>
    </div>
    <script>
        document.getElementById('limpiar').addEventListener('click', function() {
            document.getElementById('stock_symbol').value = '';
            document.getElementById('suggestions').innerHTML = '';
        });
    </script>
    <script>
        // Llama a la función para mostrar el mensaje de error
        showError("{{ error_message }}");
    </script>
</body>
</html>