<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ActionTrackr</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        table.table-bordered .color-verde {
            color: green;
        }

        table.table-bordered .color-rojo {
            color: red;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid d-flex justify-content-between">
            <a class="navbar-brand" href="/">
                <img  src="{{ url_for('serve_static', filename='Logo.png') }}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                ActionTrackr
            </a>
        </div>
    </nav>
    
    <form id="csvForm" method="post" action="/download_csv">
        <input type="hidden" name="nombre_csv" value="Precios.csv">
        <div class="d-flex justify-content-between">
            <h3>Precios</h3>
            <input type="button" class="btn btn-outline-success btn-sm" value="Generar CSV" id="generarCSV">
        </div>
    </form>

    <div class="container mt-4">
        <table class="table table-bordered" id="datosTabla">
            <tr style="text-align: center;">
                <th>Fecha</th>
                {% for record in data %}
                    <th>{{ record.stock_symbol }}</th>
                {% endfor %}
            </tr>
            {% for i in range(data[0].adj_close_data|length) %}
            <tr>
                <td>{{ data[0].adj_close_data[i].date }}</td>
                {% for record in data %}
                    <td class="columna-{{ record.stock_symbol }}">{{ record.adj_close_data[i].adj_close }}</td>
                {% endfor %}
            </tr>
            {% endfor %}        
        </table>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var columnas = ['Adj_Close'];
    
            // Obtener todas las columnas presentes en la tabla
            $(".table th").each(function() {
                columnas.push($(this).text());
            });

            for (var i = 0; i < columnas.length; i++) {
                var nombreColumna = columnas[i];
                var numeroCeldas = $(".columna-" + nombreColumna);

                numeroCeldas.each(function(index) {
                    if (index > 0) {
                        var numeroActual = parseFloat($(this).text());
                        var numeroAnterior = parseFloat($(this).closest("tr").prev().find(".columna-" + nombreColumna).text());
    
                        if (numeroActual > numeroAnterior) {
                            $(this).addClass("color-verde");
                        } else if (numeroActual < numeroAnterior) {
                            $(this).addClass("color-rojo");
                        }
                    }
                });
            }
        });
    </script>

    <script>
        function downloadCSV(csv, filename) {
            var csvFile;
            var downloadLink;
        
            // Crear el archivo CSV
            csvFile = new Blob([csv], { type: "text/csv" });
        
            // Crear un enlace de descarga
            downloadLink = document.createElement("a");
        
            // Establecer el enlace para el archivo CSV
            downloadLink.download = filename;
            downloadLink.href = window.URL.createObjectURL(csvFile);
        
            // Simular el clic para descargar el archivo
            downloadLink.style.display = "none";
            document.body.appendChild(downloadLink);
            downloadLink.click();
          }
        
          function generateCSV() {
            // Obtener los datos de la tabla
            var table = document.getElementById("datosTabla");
            var rows = table.getElementsByTagName("tr");
        
            var csv = "";
            for (var i = 0; i < rows.length; i++) {
              var row = [],
                cols = rows[i].querySelectorAll("td, th");
        
              for (var j = 0; j < cols.length; j++) {
                row.push(cols[j].innerText);
              }
        
              csv += row.join(",") + "\n";
            }
        
            // Descargar el archivo CSV
            downloadCSV(csv, "Precios.csv");
          }
        
          // Asociar la función de generación de CSV al botón "Generar CSV"
          document.getElementById("generarCSV").addEventListener("click", generateCSV);
          </script>
</body>
</html>
