<!DOCTYPE html>
<html>
<head>
    <title>Precios Ajustados</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Precios</h1>
    <table>
        <tr>
            <th>Fecha</th>
            {% for record in data %}
                <th>{{ record.stock_symbol }}</th>
            {% endfor %}
        </tr>
        {% for i in range(data[0].adj_close_data|length) %}
            <tr>
                <td>{{ data[0].adj_close_data[i].date }}</td>
                {% for record in data %}
                    <td>{{ record.adj_close_data[i].adj_close }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <form id="csvForm" method="post" action="/download_csv">
        {% for record in data %}
            {% for adj_close_data in record.adj_close_data %}
                <input type="hidden" name="data[]" value="{{ adj_close_data.date }},{{ record.stock_symbol }},{{ adj_close_data.adj_close }}">
            {% endfor %}
        {% endfor %}
        <input type="submit" value="Generar CSV">
    </form>
     
</body>
</html>
