<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ActionTrackr</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        th,
        td {
            border: 5px solid black;
            padding: 8px;
            text-align: center;
        }

        table.table-bordered .color-verde {
            color: green;
        }

        table.table-bordered .color-rojo {
            color: red;
        }

        th.columna_estadisticas_ancho {
            width: 170px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid d-flex justify-content-between">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('serve_static', filename='Logo.png') }}" alt="Logo" width="30" height="24"
                    class="d-inline-block align-text-top">
                ActionTrackr
            </a>
        </div>
    </nav>

    <form id="csvForm" method="post" action="/download_csv">
        <input type="hidden" name="nombre_csv" value="Rendimientos.csv">
        <div class="d-flex justify-content-between">
            <h3>Rendimientos</h3>
            <input type="button" class="btn btn-outline-success btn-sm" value="Generar CSV" id="GenerarCSV">
        </div>
    </form>


    <div class="container mt-4">
        <table class="table table-bordered" id="accionesTabla">
            <tr style="text-align: left;">
                <th class="columna_estadisticas_ancho">No. Acciones</th>
                {% for record in data %}
                <th>{{ loop.index }}</th>
                {% endfor %}
            </tr>
            <tr>
                <th>Acciones</th>
                {% for record in data %}
                <th>{{ record.stock_symbol }}</th>
                {% endfor %}
            </tr>
            <tr>
                <th>Rendimiento anual</th>
                {% for record in data %}
                <td>{{ '%.4f' % rendimientos_anuales[record.stock_symbol] }}%</td>
                {% endfor %}
            </tr>
            <tr>
                <th>SD ANUAL</th>
                {% for record in data %}
                <td>{{ '%.4f' % desviacion_estandar[record.stock_symbol] }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>CV</th>
                {% for record in data %}
                <td>{{ '%.4f' % coeficiente[record.stock_symbol] }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Beta</th>
                {% for record in data %}
                <td>{{ '%.4f' % beta[record.stock_symbol] }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Sistematico</th>
                {% for record in data %}
                <td>{{ '%.4f' % sistematico[record.stock_symbol] }}%</td>
                {% endfor %}
            </tr>
            <tr>
                <th>No sistematico</th>
                {% for record in data %}
                <td>{{ '%.4f' % no_sistematico[record.stock_symbol] }}%</td>
                {% endfor %}
            </tr>
            <tr>
                <th>TLR</th>
                {% for record in data %}
                <td>{{ '%.2f' % tlr[record.stock_symbol] }}%</td>
                {% endfor %}
            </tr>
            <tr>
                <th>SHARPES</th>
                {% for record in data %}
                <td>{{ '%.4f' % sharpes[record.stock_symbol] }}</td>
                {% endfor %}
            </tr>
        </table>
    </div>



    <div class="container mt-4">
        <table class="table table-bordered" id="datosTabla">
            <tr style="text-align: center;">

            <tr>
                {% for record in data %}
                <th>Fecha</th>
                <th>{{ record.stock_symbol }}</th>
                {% endfor %}
            </tr>

            {% set max_data_length = data|map(attribute='adj_close_data')|map('length')|max %}
            {% set rendimientos = diarios %}
            {% for i in range(max_data_length) %}
            <tr>
              {% for record in data %}
                {% if i < record.adj_close_data|length %}
                  <td>
                    {% if i < rendimientos[record.stock_symbol]|length %}
                        {{ record.adj_close_data[i+1].date }}
                    {% endif %}
                  </td>
                  <td class="columna-{{ record.stock_symbol }}">
                    {% if rendimientos[record.stock_symbol][i] %}
                      {{ '%.4f' % rendimientos[record.stock_symbol][i] }}%
                    {% endif %}
                  </td>

                {% else %}
                  <td></td>
                  <td></td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </table>
    </div>
    <script>
        $(document).ready(function () {
            // Obtener todas las celdas con clases columna-*
            var cellsWithClasses = document.querySelectorAll('td[class^="columna-"]');
            
            // Iterar a través de las celdas y analizar los valores
            cellsWithClasses.forEach(function(cell) {
                var cellContent = cell.textContent.trim();
                var numeroActual = parseFloat(cellContent);
                
                if (!isNaN(numeroActual)) {
                    // Obtener la clase específica de la celda (por ejemplo, columna-XYZ)
                    var specificClass = cell.className.match(/columna-[A-Za-z0-9]+/);
                    
                    if (specificClass) {
                        specificClass = specificClass[0];
                        var selector = "." + specificClass;
                        
                        // Obtener todas las celdas en la misma columna
                        var cellsInColumn = document.querySelectorAll(selector);
                        
                        // Inicializar el valor anterior como vacío
                        var numeroAnterior = "";
                        
                        // Iterar a través de las celdas en la misma columna y aplicar lógica de colores
                        cellsInColumn.forEach(function(colCell) {
                            var colCellContent = colCell.textContent.trim();
                            var colNumeroActual = parseFloat(colCellContent);
                            
                            if (!isNaN(colNumeroActual)) {
                                if (colNumeroActual > numeroAnterior) {
                                    $(colCell).addClass("color-verde");
                                } else if (colNumeroActual < numeroAnterior) {
                                    $(colCell).addClass("color-rojo");
                                } else if (colNumeroActual === numeroAnterior) {
                                    $(colCell).addClass("color-azul");
                                }
                                
                                numeroAnterior = colNumeroActual;
                            }
                        });
                    }
                }
            });
        });
     </script>
</body>
</html>